registry=https://registry.npmjs.org/

# Certara Artifactory scoped registry (uses your existing token env var)
@certara:registry=https://certara.jfrog.io/artifactory/api/npm/product-design-infrastructure/
//certara.jfrog.io/artifactory/api/npm/product-design-infrastructure/:_authToken=${CERTARA_UI_NPM_TOKEN}
//certara.jfrog.io/artifactory/api/npm/product-design-infrastructure/:always-auth=true

